<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yuanyi.artemis.mapper.BlogMapper">

    <resultMap id="BlogMapper" type="com.yuanyi.artemis.bean.Blog">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="time" property="time"/>
        <result column="content" property="content"/>

        <association property="user" javaType="com.yuanyi.artemis.bean.User">
            <id column="id" property="id" />
            <result column="username" property="username"/>
        </association>
    </resultMap>

    <!--通过id查询博客-->
    <select id="findBlogById" resultMap="BlogMapper" parameterType="INTEGER">
        SELECT * FROM blog, user WHERE user.`id` = blog.`user_id` AND blog.`id` = #{id}
    </select>

    <select id="">
        select * from blog, user where user.`id` = blog.
    </select>

    <!-- 保存博客 -->
    <insert id="saveBlog" parameterType="com.yuanyi.artemis.bean.Blog">
        <!--配置插入操作后,获取插入数据的id-->
        <selectKey keyProperty="id" keyColumn="id" resultType="int" order="AFTER">
            select last_insert_id();
        </selectKey>
        insert into blog(title, time, content, user_id) value(#{title}, #{time}, #{content}, #{user.id})
    </insert>
</mapper>
