<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yuanyi.artemis.mapper.BlogMapper">

    <resultMap id="BlogMapper" type="com.yuanyi.artemis.bean.Blog">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="title_array" property="titlearray"/>
        <result column="introduction" property="introduction"/>
        <result column="time" property="time"/>
        <result column="content" property="content"/>

        <association property="user" javaType="com.yuanyi.artemis.bean.User">
            <id column="id" property="id" />
            <result column="username" property="username"/>
        </association>
    </resultMap>

    <!--通过id查询博客-->
    <select id="findBlogById" resultMap="BlogMapper" parameterType="INTEGER">
        SELECT * FROM blog, user WHERE user.`id` = blog.`user_id` AND blog.`id` = #{id}
    </select>

    <!--分页查询-->
    <select id="findBlogListByUserId" resultMap="BlogMapper">
        SELECT * FROM blog,user WHERE blog.`user_id` = user.id AND blog.`user_id` = #{userId} ORDER BY blog.`time` DESC LIMIT #{page} ,#{limit}
    </select>

    <!--查询总数-->
    <select id="blogCount" resultType="java.lang.Integer" parameterType="INTEGER">
        SELECT COUNT(*) FROM blog where blog.`user_id` = #{userId}
    </select>

    <!-- 保存博客 -->
    <insert id="saveBlog" parameterType="com.yuanyi.artemis.bean.Blog">
        <!--配置插入操作后,获取插入数据的id-->
        <selectKey keyProperty="id" keyColumn="id" resultType="int" order="AFTER">
            select last_insert_id();
        </selectKey>
        insert into blog(title,title_array, introduction, time, content, user_id) value(#{title},#{titlearray}, #{introduction}, #{time}, #{content}, #{user.id})
    </insert>
</mapper>
