
.detail_body {
    width: 60%;
    height: 100%;
    margin: 0 auto;
}

.detail_content {
    width: 70%;
    height: 100%;
}

.detail_content_body {
    width: 100%;
    height: 100%;
    margin-top: 18px;
    /* display: flex;
    flex-direction: column; */
}

.detail_side {
    width: 26%;
    height: 100%;
    float: right;
 }
 
 .detail_side span{
     display: block;
     margin-top: 20px;
     font-size: 18px;
  }
 
 .detail_side hr{
     margin-top: 4px;
     background-color: #dedede;
     height: 1px;
     border: none;
  }
 
 .detail_side p {
     margin-top: 10px;
     font-size: 14px;
     letter-spacing:1px; 
     color: #514951;
 }
 
 .detail_side a {
     text-decoration: none;
     color: #6891ff;
     display: block;
     margin-top: 20px;
 }
 
 .detail_side a span{
     display: inline;
 }