
* {
    margin: 0;
    padding: 0;
}

.header {
    height: 100px;
    font-size: 16px;
    border-bottom: 1px #f3f3f4 solid;
}

.header_content {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header_content a {
  text-decoration: none;
  font-size: 18px;
  color: black;
}

.header_content ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.header_content ul li{
    margin-left: 18px;
}

.header_content ul li a:hover{
    color:#6891ff;
}

.header_content ul li a{
    transition: 1ms;
}

.body {
    width: 1000px;
    height: 100%;
    background-color: bisque;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.body_content {
    width: 80%;
    height: 100%;
    margin-top: 18px;
    padding: 5px 5px;
}

.body_content span {
    font-size: 24px;
    font-weight: 100;
    letter-spacing:2px;  
}

.body_content span a{
    text-decoration: none;
    color: black;
}

.body_content span a:hover{
    color:#6891ff;
}