<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../static/mdeditor/css/editormd.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/detail.css">
    <script src="../static/js/common/axios.js"></script>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <header class="header">
        <div class="header_content">
            <a href="/" class="header_content_a">Artemis</a>
            <ul>
                <li><a href="">首页</a></li>
                <li><a href="/addBlog" target="_blank">新增</a></li>
                <li><a href="">归档</a></li>
                <li><a href="">关于</a></li>
            </ul>
        </div>
    </header>
    <div class="detail_body">
        <div class="detail_side">
            <span>相关文章<hr></span>
            <p>测试</p>
            <p>测试</p>
            <p>测试</p>
            <a href=""><span>➥</span>More</a>
            <span>My Link<hr></span>
            <a href="https://github.com/yuanyi520" target="_blank">GitHub</a>
        </div>
        <div class="detail_content">
            <div class="detail_content_body">
                <div id="txtblogcontent">
                    <textarea id="text" style="display:none;"></textarea>
                </div>
            </div>
        </div>
    </div>
    <!--<input type="file" id="fileinput" onchange="test(this)">-->

<script src="../static/js/jquery.min.js"></script>
<script src="../static/mdeditor/editormd.min.js"></script>
<script src="../static/mdeditor/lib/marked.min.js"></script>
<script src="../static/mdeditor/lib/prettify.min.js"></script>
<script src="../static/mdeditor/lib/raphael.min.js"></script>
<script src="../static/mdeditor/lib/underscore.min.js"></script>
<script src="../static/mdeditor/lib/sequence-diagram.min.js"></script>
<script src="../static/mdeditor/lib/flowchart.min.js"></script>
<script src="../static/mdeditor/lib/jquery.flowchart.min.js"></script>

</body>

<script>
    axios.get("/blog/findbloglistbyuserid/1").then(resp => {
        $("#text").val(resp.data.data.content);
        initHtml('txtblogcontent');
    }).catch(err => {
        console.log(err);
    });

   function initHtml(elemId){
        editormd.markdownToHTML(elemId, {
            htmlDecode: "style,script,iframe",  // you can filter tags decode
            emoji: true,
            taskList: true,
            tex: true,  // 默认不解析
            flowChart: true,  // 默认不解析
            sequenceDiagram: true,  // 默认不解析
            codeFold: true,
        });
    }

    function test(file){
        var fileInput = file.files[0];
        var reader = new FileReader();
        reader.readAsText(fileInput)
        reader.onload = function (){
        }
    }
</script>
</html>