<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artemis</title>
    <script src="../static/js/common/axios.js"></script>
    <script src="../static/js/common/vue.js"></script>
    <script src="../static/js/common/util.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/element/index.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
    <style>
        [v-cloak]{
            display: none;
        }
    </style>
</head>
<body>
    <header class="header">
        <div class="header_content">
            <a href="/" class="header_content_a">Artemis</a>
            <ul>
                <li><a href="">首页</a></li>
                <li><a href="/addBlog" target="_blank">新增</a></li>
                <li><a href="">归档</a></li>
                <li><a href="">关于</a></li>
            </ul>
        </div>
    </header>
    <div class="body">
        <div class="side">
            <span>About yuanyi<hr></span>
            <p>测试</p>
            <p>测试</p>
            <p>测试</p>
            <a href=""><span>➥</span>More</a>
            <span>My Link<hr></span>
            <a href="https://github.com/yuanyi520" target="_blank">GitHub</a>
        </div>
        <div class="content" id="app" v-cloak>
            <div class="body_content" v-for = "(blog,index) in blogList" :key="index">
                <span><a href="/detailBlog">{{blog.title}}</a></span>
                <div>
                    <p>
                        {{blog.introduction}}
                        <i class="el-icon-s-promotion">Read More</i>
                    </p>
                    <div class="textdata">
                        <span>作者:</span>
                        <span>{{blog.user.username}}</span>&nbsp;
                        <span>写于:</span>
                        <span>{{blog.time}}</span>
                    </div>
                </div>
            </div>
            <div class="pagefoot">
                <button class="pagination">c</button>
                <ul class="pagination">
                    <li v-for="page in pageSize"><a href="#">{{page}}</a></li>
                </ul>
                <button class="pagination">c</button>
            </div>
        </div>
    </div>
</body>

<script>
    var vue = new Vue({
        el:"#app",
        data:{
            blogList:new Array(),
            content:"",
            pageSize:""
        },
        methods:{
            init:function(page, size){
                axios.post("/blog/bloglist",{
                    userId:1,
                    page:page,
                    size:size
                }).then( resp => {
                    this.blogList = resp.data.data;
                    for (let a = 0; a < this.blogList.length; a++){
                        let time = timetrans(this.blogList[a].time);
                        this.blogList[a].time = time;
                        this.content = resp.data.count;
                        if (this.content % 10 == 0){
                            this.pageSize = parseInt(this.content / 10);
                        }else {
                            this.pageSize = parseInt(this.content / 10) + 1;
                        }
                    }
                }).catch( err => {
                    console.log(err);
                });
            },
            nextpage:function(page){
                
            }
        },
        mounted() {
            this.init(1,10);
        }
    });

    //时间转换
    function timetrans(date) {
        var date = new Date(date);
        var Y = date.getFullYear();
        var M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1);
        var D = (date.getDate() < 10 ? '0' + (date.getDate()) : date.getDate());
        return Y + "-" + M + "-" + D;
    }
</script>
</html>