<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artemis</title>
    <script src="../static/js/common/axios.js"></script>
    <script src="../static/js/common/vue.js"></script>
    <script src="../static/js/common/util.js"></script>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/element/index.css">
</head>
<body>
    <header class="header">
        <div class="header_content">
            <a href="/" class="header_content_a">Artemis</a>
            <ul>
                <li><a href="">首页</a></li>
                <li><a href="/addBlog" target="_blank">新增</a></li>
                <li><a href="">归档</a></li>
                <li><a href="">关于</a></li>
            </ul>
        </div>
    </header>
    <div class="body">
        <div class="side">
            <span>About yuanyi<hr></span>
            <p>测试</p>
            <p>测试</p>
            <p>测试</p>
            <a href=""><span>➥</span>More</a>
            <span>My Link<hr></span>
            <a href="https://github.com/yuanyi520" target="_blank">GitHub</a>
        </div>
        <div class="content">
            <div class="body_content">
                <span><a href="/detailBlog">标题</a></span>
                <div>
                    <p>
                        cccccccccsssdfsfsdfdsfdsf
                        <i class="el-icon-s-promotion">Read More</i>
                    </p>
                    <div class="textdata">
                        <span>作者:</span>
                        <span>测试</span>&nbsp;
                        <span>写于:</span>
                        <span>2020-05-26</span>
                    </div>
                </div>
            </div>
            <div class="body_content">
                <span><a href="/detailBlog">标题</a></span>
                <div>
                    <p>
                        cccccccccsssdfsfsdfdsfdsf
                        <i class="el-icon-s-promotion">Read More</i>
                    </p>
                    <div class="textdata">
                        <span>作者:</span>
                        <span>测试</span>&nbsp;
                        <span>写于:</span>
                        <span>2020-05-26</span>
                    </div>
                </div>
            </div>
            <div class="body_content">
                <span><a href="">标题</a></span>
                <div>
                    <p>
                        cccccccccsssdfsfsdfdsfdsf
                        <i class="el-icon-s-promotion">Read More</i>
                    </p>
                    <div class="textdata">
                        <span>作者:</span>
                        <span>测试</span>&nbsp;
                        <span>写于:</span>
                        <span>2020-05-26</span>
                    </div>
                </div>
            </div>
            <div class="body_content">
                <span><a href="">标题</a></span>
                <div>
                    <p>
                        cccccccccsssdfsfsdfdsfdsf
                        <i class="el-icon-s-promotion">Read More</i>
                    </p>
                    <div class="textdata">
                        <span>作者:</span>
                        <span>测试</span>&nbsp;
                        <span>写于:</span>
                        <span>2020-05-26</span>
                    </div>
                </div>
            </div>
            <div class="body_content">
                <span><a href="">标题</a></span>
                <div>
                    <p>
                        cccccccccsssdfsfsdfdsfdsf
                        <i class="el-icon-s-promotion">Read More</i>
                    </p>
                    <div class="textdata">
                        <span>作者:</span>
                        <span>测试</span>&nbsp;
                        <span>写于:</span>
                        <span>2020-05-26</span>
                    </div>
                </div>
            </div>
            <div class="body_content">
                <span><a href="">标题</a></span>
                <div>
                    <p>
                        cccccccccsssdfsfsdfdsfdsf
                        <i class="el-icon-s-promotion">Read More</i>
                    </p>
                    <div class="textdata">
                        <span>作者:</span>
                        <span>测试</span>&nbsp;
                        <span>写于:</span>
                        <span>2020-05-26</span>
                    </div>
                </div>
            </div>
            <div class="body_content">
                <span><a href="">标题</a></span>
                <div>
                    <p>
                        cccccccccsssdfsfsdfdsfdsf
                        <i class="el-icon-s-promotion">Read More</i>
                    </p>
                    <div class="textdata">
                        <span>作者:</span>
                        <span>测试</span>&nbsp;
                        <span>写于:</span>
                        <span>2020-05-26</span>
                    </div>
                </div>
            </div>
            <div class="body_content">
                <span><a href="">标题</a></span>
                <div>
                    <p>
                        cccccccccsssdfsfsdfdsfdsf
                        <i class="el-icon-s-promotion">Read More</i>
                    </p>
                    <div class="textdata">
                        <span>作者:</span>
                        <span>测试</span>&nbsp;
                        <span>写于:</span>
                        <span>2020-05-26</span>
                    </div>
                </div>
            </div>
            <div class="body_content">
                <span><a href="">标题</a></span>
                <div>
                    <p>
                        cccccccccsssdfsfsdfdsfdsf
                        <i class="el-icon-s-promotion">Read More</i>
                    </p>
                    <div class="textdata">
                        <span>作者:</span>
                        <span>测试</span>&nbsp;
                        <span>写于:</span>
                        <span>2020-05-26</span>
                    </div>
                </div>
            </div>
            <div class="body_content">
                <span><a href="">标题</a></span>
                <div>
                    <p>
                        cccccccccsssdfsfsdfdsfdsf
                        <i class="el-icon-s-promotion">Read More</i>
                    </p>
                    <div class="textdata">
                        <span>作者:</span>
                        <span>测试</span>&nbsp;
                        <span>写于:</span>
                        <span>2020-05-26</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>